animations {
  workspace-switch { 
      spring damping-ratio=0.8 stiffness=600 epsilon=0.0001 
  }

  horizontal-view-movement { 
    spring damping-ratio=0.82 stiffness=500 epsilon=0.0001 
  }

  window-open { 
    duration-ms 200 
    curve "ease-out-expo"
  }
  
  window-close { 
    duration-ms 150 
    curve "ease-out-quad" 
  }
}
