layout {
    gaps 8

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        active-gradient from="#98BB6C" to="#7AA89F" angle=45
        inactive-gradient from="#2B3328" to="#363646" angle=45 relative-to="workspace-view"
    }

    border {
        off
    }

    shadow {
        on
        draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
    }
}
